{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="icon-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form>
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                    <button class="search-btn" type="button">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search start -->
    
    
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="breadcrumb-title">About Us</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index-2.html">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->
    
    <!-- main-content-wrap start -->
    <div class="main-content-wrap about-us-page">
        <!-- about-area start -->
        <div class="about-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-image">
                            <a href="#"><img src="/media/about/about-1.jpg" alt=""></a>
                            <span class="text_left">Welcome To Milan Photo Studio</span>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="about-contents">
                            <h3>Milan Photo Studio</h3>
                            <p>Milan Photo Studio - Your One-Stop Creative Hub

Welcome to Milan Photo Studio, where creativity knows no bounds! We are your go-to destination for a wide range of services that cater to your visual and promotional needs.

Capture Memories: Our expert photographers are here to immortalize your special moments. Whether it's a portrait, family photos, or professional headshots, we make every click count.

Print It Your Way: Need to make a statement? Our state-of-the-art flex printing services are designed to bring your ideas to life. From banners and posters to personalized shirts and cups, we've got you covered.

Sports and More: We're not just about photos and printing. Our studio is a haven for sports enthusiasts. Discover a diverse range of sports equipment that suits your athletic pursuits. Plus, find all your stationery needs under one roof.

At Milan Photo Studio, we are committed to delivering top-notch quality and service that exceeds your expectations. Come visit us and experience a world of creativity under one roof. Your vision, our expertise!</p>
                            <button class="btn shop-btn-two">
                                <a href="{% url 'shop' %}"> SHOP NOW </a>

                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about-area end -->
        
        <div class="project-count-area pb--70">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single-count text-center mb--30">
                                <div class="count-title">
                                    <h2 class="count">24</h2>
                                    <span>Years in Business</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single-count text-center mb--30">
                                <div class="count-title">
                                    <h2 class="count">210</h2>
                                    <span>Clients and Partners</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single-count text-center mb--30">
                                <div class="count-title">
                                    <h2 class="count">18</h2>
                                    <span>Show Room</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-6">
                            <div class="single-count text-center mb--30">
                                <div class="count-title">
                                    <h2 class="count">17</h2>
                                    <span>Billon Sales</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        

        
        <!-- secton-area start -->
        <div class="secton-area section-pt">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="instagram-wrapper">
                            <div class="instaram-title text-center">
                                <h3>Follow us on Instagram <a href="#">@furniture</a></h3>
                            </div>
                            <div class="instagram-warp instagram-slider row">
                                <div class="col-lg-6">
                                    <div class="single-instagram">
                                        <a href="#"><img src="/media/instagram/1.jpg" alt=""></a>
                                    </div>    
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-instagram">
                                        <a href="#"><img src="/media/instagram/2.jpg" alt=""></a>
                                    </div>    
                                </div>
                                <div class="col-lg-6">
                                    <div class="single-instagram">
                                        <a href="#"><img src="/media/instagram/1.jpg" alt=""></a>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 offset-lg-1">
                        <div class="subscribe-area">
                            <div class="subsctibe-title text-center">
                                <h3>Subscribe</h3>
                                <p>Lorem ipsum dolor sit amet consectetur elit.</p>
                            </div>
                            <div class="subscribe-content text-center">
                                <input class="input-field" type="email" placeholder="your mail address">
                                <button class=" btn subscribe-btn">SUBSCRIBE</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- secton-area end -->
        <!-- our-brand-area start -->
        <div class="our-brand-area section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="our-brand-active">
                            <div class="single-brand">
                                <a href="#"><img src="/media/brand/1.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/media/brand/2.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/media/brand/3.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/media/brand/4.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/media/brand/5.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/media/brand/3.jpg" alt=""></a>
                            </div>
                            <div class="single-brand">
                                <a href="#"><img src="/media/brand/4.jpg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- our-brand-area end -->

    </div>
    <!-- main-content-wrap end -->
    
{% endblock %}