{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="icon-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form>
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                    <button class="search-btn" type="button">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search start -->
    

    <!-- main-content-wrap start -->
    <div class="main-content-wrap blog-page section-ptb">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 order-lg-2 order-1">
                    <!-- blog-details-wrapper start -->
                    <div class="blog-details-wrapper">
                        {% for blog in blogs %}
                        <div class="blog-details-image">
                            <img src="{{blog.image.url}}" alt="">
                        </div>
                        <div class="postinfo-wrapper">
                            <div class="post-info">
                               <h3> <b> {{blog.title}} </b> </h3>
                                <p>{{blog.full_body}}</p>
                                <blockquote class="blockquote-inner">
                                    <p> {{blog.quote}}</p>
                                </blockquote>

                                <div class="post-commet">
                                    <a class="blog-comment" href="#">COMMENTS</a>
                                </div>
                            </div>
                            <div class="review_address_inner">
                                    <!-- Start Single Review -->
                                    <div class="pro_review">
                                        {% for review in blog_reviews %}
                                        <div class="review_details">
                                            <div class="review_info">
                                                <h4><a href="#">{{review.username}}</a></h4>
                                            </div>
                                            <div class="review_date">
                                                <span>{{review.date}}</span>
                                            </div>
                                            <p>{{review.comment}}</p>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!-- End Single Review -->
                                </div>

                            <div class="comments-area comments-reply-area">
                                <div class="row">
                                    <div class="col-lg-12">

                                        {% if user.is_authenticated %}
                                        <form action="/blog_review/{{blog.id}}" class="comment-form-area" method="POST">
                                            {% csrf_token %}

                                            <p class="comment-form-comment">
                                                <label>Comment</label> 
                                                <textarea class="comment-notes" required="required" name="comment"></textarea>
                                            </p>
                                            <div class="comment-form-submit">
                                                <input type="submit"  value="Post Comment" class="comment-submit">
                                            </div>
                                        </form>
                                        {% else %}
                                        <button class="comment-custom-button">
                                         <a href="{% url 'login' %}">Log in to comment</a>
                                        </button>

                            {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- blog-details-wrapper end -->
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- main-content-wrap end -->
    
{% endblock %}