{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="icon-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form>
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                    <button class="search-btn" type="button">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search start -->
    

    <!-- main-content-wrap start -->
    <div class="main-content-wrap blog-page section-ptb">
        <div class="container">
            <div class="row">

                <div class="col-lg-9 order-lg-2 order-1">
                    <!-- blog-details-wrapper start -->
                    <div class="blog-details-wrapper">
                        {% for blog in blogs %}
                        <div class="blog-details-image">
                            <img src="{{blog.image.url}}" alt="">
                        </div>
                        <div class="postinfo-wrapper">
                            <div class="post-info">
                               <h3> <b> {{blog.title}} </b> </h3>
                                <p>{{blog.full_body}}</p>
                                <blockquote class="blockquote-inner">
                                    <p> {{blog.quote}}</p>
                                </blockquote>
                        {% endfor %}
                                <div class="post-commet">
                                    <a class="blog-comment" href="#">0 COMMENT</a>
                                    <ul class="social-icons">
                                        <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                        <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                        <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                                        <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="review_address_inner">
                                    <!-- Start Single Review -->
                                    <div class="pro_review">
                                        <div class="review_thumb">
                                            <img alt="review images" src="/media/review/1.jpg">
                                        </div>
                                        <div class="review_details">
                                            <div class="review_info">
                                                <h4><a href="#">Gerald Barnes</a></h4>
                                                <ul class="product-rating d-flex">
                                                    <li><span class="icon-star"></span></li>
                                                    <li><span class="icon-star"></span></li>
                                                    <li><span class="icon-star"></span></li>
                                                    <li><span class="icon-star"></span></li>
                                                    <li><span class="icon-star"></span></li>
                                                </ul>
                                                <div class="rating_send">
                                                    <a href="#"><i class="ion-reply"></i></a>
                                                </div>
                                            </div>
                                            <div class="review_date">
                                                <span>27 Jun, 2018 at 3:30pm</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                                        </div>
                                    </div>
                                    <!-- End Single Review -->
                                    <!-- Start Single Review -->
                                    <div class="pro_review ans">
                                        <div class="review_thumb">
                                            <img alt="review images" src="/media/review/2.jpg">
                                        </div>
                                        <div class="review_details">
                                            <div class="review_info">
                                                <h4><a href="#">Gerald Barnes</a></h4>
                                                <ul class="product-rating d-flex">
                                                    <li><span class="icon-star"></span></li>
                                                    <li><span class="icon-star"></span></li>
                                                    <li><span class="icon-star"></span></li>
                                                    <li><span class="icon-star"></span></li>
                                                    <li><span class="icon-star"></span></li>
                                                </ul>
                                                <div class="rating_send">
                                                    <a href="#"><i class="ion-reply"></i></a>
                                                </div>
                                            </div>
                                            <div class="review_date">
                                                <span>27 Jun, 2018 at 4:32pm</span>
                                            </div>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer accumsan egestas elese ifend. Phasellus a felis at estei to bibendum feugiat ut eget eni Praesent et messages in con sectetur posuere dolor non.</p>
                                        </div>
                                    </div>
                                    <!-- End Single Review -->
                                </div>
                            <div class="comments-area comments-reply-area">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h3 class="comment-reply-title">Leave a Reply</h3>
                                        <form action="#" class="comment-form-area">
                                            <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                            <p class="comment-form-comment">
                                                <label>Comment</label> 
                                                <textarea class="comment-notes" required="required"></textarea>
                                            </p>
                                            <div class="comment-input">
                                                <p class="comment-form-author">
                                                    <label>Name <span class="required">*</span></label> 
                                                    <input type="text" required="required" name="Name">
                                                </p>
                                                <p class="comment-form-email">
                                                    <label>Email <span class="required">*</span></label> 
                                                    <input type="text" required="required" name="email">
                                                </p>
                                                <p class="comment-form-url">
                                                    <label>Website</label>
                                                    <input type="text" name="url">
                                                </p>
                                            </div>
                                            <div class="comment-form-submit">
                                                <input type="submit" value="Post Comment" class="comment-submit">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- blog-details-wrapper end -->
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->
    
{% endblock %}