{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="icon-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form>
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                    <button class="search-btn" type="button">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search start -->

    
    <!-- main-content-wrap start -->
    <div class="main-content-wrap blog-page section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <!-- blog-wrapper start -->
                    <div class="blog-wrapper">
                        
                        <!-- blog-wrap start -->
                        <div class="blog-wrap">
                            <!-- single-blog-area start -->

                            {% for blog in blogs %}

                            <div class="single-blog-area">
                                <div class="blog-image">
                                    <a href="/blog-details/{{blog.id}}"><img src="{{blog.image.url}}" alt=""></a>
                                </div>
                                <div class="blog-contend">
                                    <h3><a href="#">{{blog.title}}</a></h3>
                                    <div class="blog-date-categori">
                                        <ul>
                                            <li><a href="#"><i class="ion-ios-person"></i> {{blog.name}} </a></li>
                                            <li><a href="#"><i class="ion-ios-pricetags"></i> Comments </a></li>
                                        </ul>
                                    </div>
                                    <p>{{blog.body}}</p>
                                    <div class="mt-30 blog-more-area">
                                        <a href="/blog-details/{{blog.id}}" class="blog-btn btn">Read more</a>
                                        <ul class="social-icons">
                                            <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                            <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                            <li><a href="#"><i class="ion-social-dribbble"></i></a></li>
                                            <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <!-- single-blog-area end -->

                        </div>
                        <!-- blog-wrap end -->
                        
                        <!-- paginatoin-area start -->
                        <div class="paginatoin-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <p>Showing 10-13 of 13 item(s) </p>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <ul class="pagination-box">
                                        <li><a class="Previous" href="#">Previous</a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li>
                                          <a class="Next" href="#"> Next </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- paginatoin-area end -->
                    </div>
                    <!-- blog-wrapper end -->
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->
    
{% endblock %}