{% extends 'base.html' %}
{% load static %}
{% block content %}

    
    <!-- main-search start -->
    <div class="main-search-active">
        <div class="sidebar-search-icon">
            <button class="search-close"><span class="icon-close"></span></button>
        </div>
        <div class="sidebar-search-input">
            <form>
                <div class="form-search">
                    <input id="search" class="input-text" value="" placeholder="Search entire store here ..." type="search">
                    <button class="search-btn" type="button">
                        <i class="icon-magnifier"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <!-- main-search start -->
    
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="breadcrumb-title">Cart page</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Cart page</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->
    
    <!-- main-content-wrap start -->
    <div class="main-content-wrap section-ptb cart-page">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form action="#" class="cart-table">
                        <div class="table-content table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="plantmore-product-thumbnail">Images</th>
                                        <th class="cart-product-name">Product</th>
                                        <th class="plantmore-product-price">Unit Price</th>
                                        <th class="plantmore-product-quantity">Quantity</th>
                                        <th class="plantmore-product-subtotal">Total</th>
                                        <th class="plantmore-product-remove">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for cart in my_cart %}
                                    <tr>
                                        <td class="plantmore-product-thumbnail"><a href="#"><img src="{{cart.items.image.url}}" alt=""></a></td>
                                        <td class="plantmore-product-name"><a href="#">{{cart.items.name}}</a></td>

                                        {% if cart.items.discounted_price > 0 %}
                                        <td class="plantmore-product-price"><span class="amount">RS.{{cart.items.discounted_price}}</span></td>
                                        {% else %}
                                        <td class="plantmore-product-price"><span class="amount">RS.{{cart.items.price}}</span></td>
                                        {% endif %}

                                        <td class="plantmore-product-quantity">


                                        <a href="/reduce_cart/{{cart.slug}}"><button class="btn-minus"><i class="fa fa-minus"></i></button></a>
                                        <input value="{{ cart.quantity }}" type="text" id="quantity_{{ cart.slug }}" name="quantity">
                                        <a href="/add_to_cart/{{ cart.slug }}"><button class="btn-plus"><i class="fa fa-plus"></i></button></a>



                                        </td>


                                        <td class="product-subtotal"><span class="amount">Rs{{cart.total}}</span></td>

                                        <td class="plantmore-product-remove"><a href="/delete_cart/{{cart.slug}}"><i class="ion-close"></i></a></td>
                                    </tr>
                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="coupon-all">
                                   
                                   <div class="coupon2">
                                       <a href="{% url 'shop' %}" class="btn continue-btn">Continue Shopping</a>
                                    </div>
                                   

                                </div>
                            </div>
                            <div class="col-md-4 ml-auto">
                                <div class="cart-page-total">
                                    <h2>Cart totals</h2>
                                    <ul>
                                        <li>Subtotal <span>$170.00</span></li>
                                        <li>Total <span>$170.00</span></li>
                                    </ul>
                                    <a href="{% url 'checkout' %}" class="proceed-checkout-btn">Proceed to checkout</a>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- main-content-wrap end -->
    
{% endblock %}